<?xml version="1.0" encoding="UTF-8"?>
<c:param-set xmlns:c="http://www.w3.org/ns/xproc-step">

	<!--URL to the root folder of the Faust Edition's XML files-->
	<c:param name="source" value="file:/home/vitt/Faust/"/>

	<!-- Path to the target folder for the "root" HTML files-->
	<c:param name="html" value="target/lesetext_demo/"/>

	<!-- Path to the target folder for the variant fragments -->
	<c:param name="variants" value="target/lesetext_demo/variants/"/>
	
	<!-- URL prefix to be used for links into the webapp -->
	<c:param name="docbase" value="https://faustedition.uni-wuerzburg.de/new"/>
		
	<!-- Parameters for splitting the text visualisation: -->
	<!-- max. div nesting depth to split. 2 = Acts + Scenes -->
	<c:param name="depth" value="2"/>	
	<!-- split only if the source XML contains more then this many <div>s in total -->
	<c:param name="splitcond" value="4"/>

</c:param-set>
