<?xml version="1.0" encoding="UTF-8"?>
<script xmlns="http://www.xstep.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variables>
        <variable type="execution-file" name="execute"
            >file:///C:/Users/bruening.FDH-FFM/txstep/ueb/txstep.tu</variable>
        <variable type="permanent-file" name="app1" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1.tf</variable>
        <variable type="permanent-file" name="app1fn" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1fn.tf</variable>
        <variable type="permanent-file" name="app1p" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1p.tf</variable>
        <variable type="permanent-file" name="app1sort" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1sort.tf</variable>
        <variable type="permanent-file" name="app1clean" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1clean.tf</variable>
        <variable type="permanent-file" name="app1sort-rtf" option="erase" format="system"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app1sort.rtf</variable>
        <variable type="permanent-file" name="app2" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2.tf</variable>
        <variable type="permanent-file" name="app2sort" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2sort.tf</variable>
        <variable type="permanent-file" name="app2clean" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2clean.tf</variable>
        <variable type="permanent-file" name="app2go" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2go.tf</variable>
        <variable type="permanent-file" name="app2open" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2open.tf</variable>
        <variable type="permanent-file" name="app2sort-rtf" option="erase" format="system"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2sort.rtf</variable>
        <variable type="permanent-file" name="app2go-rtf" option="erase" format="system"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2go.rtf</variable>
        <variable type="permanent-file" name="app2open-rtf" option="erase" format="system"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2open.rtf</variable>
        <variable type="permanent-file" name="app2closed" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2closed.tf</variable>
        <variable type="permanent-file" name="app2norm" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2norm.tf</variable>
        <variable type="permanent-file" name="app2norm-txt" option="erase" format="system"
            code="UTF-8">file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2norm.txt</variable>
        <variable type="permanent-file" name="app2xml" option="erase"
            >file:///C:/Users/bruening.FDH-FFM/txstep/txt/app2xml.tf</variable>
        <variable type="scratch-file" name="head"/>
        <variable type="scratch-file" name="typ1a"/>
        <variable type="scratch-file" name="typ1b"/>
        <variable type="scratch-file" name="typ1b0"/>
        <variable type="scratch-file" name="typ1c"/>
        <variable type="scratch-file" name="typ1c0"/>
        <variable type="scratch-file" name="typ2a"/>
        <variable type="scratch-file" name="typ2a0"/>
        <variable type="scratch-file" name="typ2aa"/>
        <variable type="scratch-file" name="typ2aa0"/>
        <variable type="scratch-file" name="typ2b"/>
        <variable type="scratch-file" name="typ2b0"/>
        <variable type="scratch-file" name="typ2c"/>
        <variable type="scratch-file" name="typ2c0"/>
        <variable type="scratch-file" name="typ2d"/>
        <variable type="scratch-file" name="typ3"/>
        <variable type="scratch-file" name="typ4a"/>
        <variable type="scratch-file" name="typ4b"/>
        <variable type="scratch-file" name="typ4c"/>
        <variable type="scratch-file" name="typ5"/>
        <variable type="scratch-file" name="typ6"/>
        <variable type="scratch-file" name="typ7"/>
        <variable type="scratch-file" name="typ8"/>
        <variable type="scratch-file" name="typq"/>
        <variable type="scratch-file" name="trail"/>
        <variable type="scratch-file" name="cleanup"/>
        <string-group name="ty">
            <member>typ</member>
            <member>(</member>
            <member>bzw.</member>
            <member>oder</member>
        </string-group>
    </variables>
    <tustep>
#de,da=*
app1rtf = C:\users\bruening.FDH-FFM\txstep\txt\app1.rtf
*eof
#anmelde, app1rtf, traeger = -
#*import, app1rtf, app1, ignor = -
    </tustep>
    <transform source="app1" destination="app1fn">
        <new-line-before>
            <search-table>
                <search-string>{{en}}</search-string>
                <search-string>{{fn}}</search-string>
            </search-table>
        </new-line-before>
        <new-line-after>
            <search-table>
                <search-string>{{/en}}</search-string>
                <search-string>{{/fn}}</search-string>
            </search-table>
        </new-line-after>
    </transform>
    <transform source="app1fn" destination="app1p">
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{{en</search-string>
                            <search-string>{{fn</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{{fn*</search-string>
                            <replacement-string>{{p}}{=1=}{{/p}}</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{en*</search-string>
                            <replacement-string>{{p}}{=1=}{{/p}}</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{{{0}/en}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{{0}/fn}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{{0}/en-p*}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{{0}/fn-p*}}</search-string>
                            <replacement-string/>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
    </transform>
    <!-- build app1sort -->
    <transform source="app1" destination="app1sort" save-params="head">
        <define-text-units>
            <text-unit-start>
                <comparison-table>
                    <exclusion-string>{{head}}</exclusion-string>
                    <exclusion-string>{{dstyle</exclusion-string>
                    <exclusion-string>{{pstyle</exclusion-string>
                    <exclusion-string>{{cstyle</exclusion-string>
                    <exclusion-string>{{/head}}</exclusion-string>
                    <exclusion-string>{{body</exclusion-string>
                    <exclusion-string>{{section</exclusion-string>
                    <comparison-string>{{document</comparison-string>
                    <comparison-string>{{p</comparison-string>
                    <!-- p, sonst Fehlerhalt -->
                </comparison-table>
            </text-unit-start>
        </define-text-units>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{{document</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>font="Calibri"</search-string>
                            <replacement-string>font="Times"</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <new-line-before>
            <search-table>
                <search-string>{{head</search-string>
                <search-string>{{dstyle</search-string>
                <search-string>{{pstyle</search-string>
                <search-string>{{cstyle</search-string>
                <search-string>{{/head</search-string>
                <search-string>{{body</search-string>
                <search-string>{{section</search-string>
            </search-table>
        </new-line-before>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ1a">
        <insert-at-start>{{p}}{{font size="12"}}Typ 1a{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n1\a</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ1b">
        <insert-at-start>{{p}}{{font size="12"}}Typ 1b{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>{s:ty}{0} 1b#\[2310\]</exception-string>
                            <exception-string>typ 1b0</exception-string>
                            <search-string>{s:ty}{0} {0}n1\b</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ1b0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 1b#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n1b#\[2310\]</search-string>
                            <search-string>{s:ty}{0} {0}n1b0</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ1c">
        <insert-at-start>{{p}}{{font size="12"}}Typ 1c{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>{s:ty}{0} 1c#\[2310\]</exception-string>
                            <exception-string>{s:ty}{0} 1c0</exception-string>
                            <search-string>{s:ty}{0} {0}n1\c</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ1c0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 1c#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>1c#\[2310\]</search-string>
                            <search-string>1c0</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2a">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2a{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>2a#\[2310\]</exception-string>
                            <exception-string>2\a0</exception-string>
                            <exception-string>{s:ty}{0} {0}n2\a\a</exception-string>
                            <search-string>{s:ty}{0} {0}n2\a</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2a0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2a#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>2a#\[2310\]</search-string>
                            <search-string>{s:ty}{0} {0}n2\a0</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2aa">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2aa{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>2aa#\[2310\]</exception-string>
                            <search-string>{s:ty}{0} {0}n2\a\a</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2aa0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2aa#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>2aa#\[2310\]</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2b">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2b{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>2b#\[2310\]</exception-string>
                            <exception-string>2\b0</exception-string>
                            <search-string>{s:ty}{0} {0}n2\b</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2b0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2b#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>2b#\[2310\]</search-string>
                            <search-string>{s:ty}{0} {0}n2b0</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2c">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2c{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <exception-string>2c#\[2310\]</exception-string>
                            <exception-string>{s:ty}{0} {0}n2c0</exception-string>
                            <search-string>{s:ty}{0} {0}n2c</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2c0">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2c#[2310]{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>2c#\[2310\]</search-string>
                            <search-string>2c0</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ2d">
        <insert-at-start>{{p}}{{font size="12"}}Typ 2d (immer 2d#[2310]){{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>2d#\[2310\]</search-string>
                            <search-string>2d</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ3">
        <insert-at-start>{{p}}{{font size="12"}}Typ 3 (immer 3#[2310]){{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n3</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ4a">
        <insert-at-start>{{p}}{{font size="12"}}Typ 4a{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n4\a</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ4b">
        <insert-at-start>{{p}}{{font size="12"}}Typ 4b{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n4\b</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ4c">
        <insert-at-start>{{p}}{{font size="12"}}Typ 4c{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n4\c</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ5">
        <insert-at-start>{{p}}{{font size="12"}}Typ 5{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n5</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ6">
        <insert-at-start>{{p}}{{font size="12"}}Typ 6{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n6</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ7">
        <insert-at-start>{{p}}{{font size="12"}}Typ 7{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n7</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typ8">
        <insert-at-start>{{p}}{{font size="12"}}Typ 8{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{s:ty}{0} {0}n8</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append" save-params="typq">
        <insert-at-start>{{p}}{{font size="12"}}Typ: ?{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>typ: \?</search-string>
                            <search-string>typ:_\?</search-string>
                            <search-string>Textgrundlage: </search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1p" destination="app1sort" option="append">
        <insert-at-start>{{p}}{{font size="12"}}Diskussionsbedürftig{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>++</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
        <insert-at-end>{{p after="0" line-feed="12"/}}</insert-at-end>
    </transform>
    <transform source="app1" destination="app1sort" option="append" save-params="trail">
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{{/section}}</search-string>
                            <search-string>{{/body}}</search-string>
                            <search-string>{{/document}}</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
    </transform>
    <transform source="app1sort" destination="app1clean" save-params="cleanup">
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>^+</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>name="Times"}}{|}*\[*\]\{*\}</search-string>
                            <replacement-string>{=1=}</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>left="8"}}{|}*\[*\]\{*\}</search-string>
                            <replacement-string>{=1=}</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>typ {[}\N{]}{#}</search-string>
                            <replacement-string/>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
    </transform>
    <tustep>
#*export, app1clean, app1sort-rtf, loeschen = +        
#de,da=*
app2rtf = C:\users\bruening.FDH-FFM\txstep\txt\app2.rtf
*eof
#anmelde, app2rtf, traeger = -
#*import, app2rtf, app2, ignor = -
    </tustep>
    <!-- build app2 -->
    <transform source="app2" destination="app2sort" take-params="head"/>
    <transform source="app2" destination="app2sort" take-params="typ1a" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ1b" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ1b0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ1c" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ1c0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2a" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2a0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2aa" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2aa0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2b" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2b0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2c" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2c0" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ2d" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ3" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ4a" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ4b" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ4c" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ5" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ6" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ7" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typ8" option="append"/>
    <transform source="app2" destination="app2sort" take-params="typq" option="append"/>
    <transform source="app2" destination="app2sort" take-params="trail" option="append"/>
    <transform source="app2sort" destination="app2clean" take-params="cleanup"/>
    <!-- build app2go -->
    <transform source="app2" destination="app2go" take-params="head"/>
    <transform source="app2clean" destination="app2go" option="append">
        <insert-at-start>{{p}}{{font size="12"}}Gebilligt{{/font}}{{/p}}</insert-at-start>
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>{{p}}{{font size="12"}}Typ</search-string>
                            <search-string>+abr*+sh</search-string>
                            <search-string>+sh*+abr</search-string>
                            <search-string>Textgrundlage: </search-string>
                            <search-string>{{p after="0" line-feed="12"/}}</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
    </transform>
    <transform source="app2" destination="app2go" take-params="trail" option="append"/>
    <transform source="app2clean" destination="app2open">
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>*+abr*+sh*</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>*+sh*+abr*</search-string>
                            <replacement-string/>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <suppress-blank-lines/>
    </transform>
    <tustep>
#*export, app2clean, app2sort-rtf, loeschen = +        
#*export, app2go, app2go-rtf, loeschen = +        
#*export, app2open, app2open-rtf, loeschen = +        
    </tustep>
    <transform source="app2" destination="app2closed">
        <pass>
            <examine-text>
                <select>
                    <text-contains>
                        <search-table>
                            <search-string>+abr*+sh</search-string>
                        </search-table>
                    </text-contains>
                </select>
            </examine-text>
        </pass>
    </transform>
    <transform source="app2closed" destination="app2norm">
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{[}{{p*}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{/p}}{]}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>+abr</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>+sh</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{fn}}*{{/fn}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{color fgc="000000"}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{/color}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{{{0}/No-Spacing}}</search-string>
                            <replacement-string></replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{sup}}{|}*{|}{{/sup}}</search-string>
                            <replacement-string>.{=2=}</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>\[{[}typ {0}\N{]}{#}</search-string>
                            <replacement-string>type=</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{{i}}{[}\H{]}{{/i}}</search-string>
                            <replacement-string>2^_H</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{i}}{[}\H{]} \[</search-string>
                            <replacement-string>2^_H</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>\I{[} {]}\H.</search-string>
                            <replacement-string>^_</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>\V{[} {]}\H.</search-string>
                            <replacement-string>^_</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>C.{#}{[}_{]}4</search-string>
                            <replacement-string>^_</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>C.{#}{[} {]}4</search-string>
                            <replacement-string>^_</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{{i}}{[}\I{]}^_H.{#}</search-string>
                            <replacement-string>2^_I</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{i}}{[}\I\I{]}^_H.{#}</search-string>
                            <replacement-string>2^_II</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{i}}{[}\I\I\I{]}^_H.{#}</search-string>
                            <replacement-string>2^_III</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{i}}{[}\I\V{]}^_H.{#}</search-string>
                            <replacement-string>2^_IV</replacement-string>
                        </string-pair>
                        <string-pair>
                            <search-string>{{i}}{[}\V{]}^_H.{#}</search-string>
                            <replacement-string>2^_V</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{[}{{i}}{|}*{|}{{/i}} {|}*{|} {{i}}{|}*{|}{{/i}}\] {|}*{|} {{i}}</search-string>
                            <replacement-string>{=2=}\[{=8=}\]\{{=4=}\} {=1=}{=2=}{=3=}{=4=}{=5=}{=6=}{=7=}{=8=}{=9=}</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{00} {]}{{/i}}</search-string>
                            <replacement-string/>
                        </string-pair>
                        <string-pair>
                            <search-string>{[}span{]}\[</search-string>
                            <replacement-string>!SPAN</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <remove-blanks where="both"/>
    </transform>
    <transform source="app2norm" destination="app2norm-txt"/>
    <!-- non-italics are readings {{/i}}{[} * {]}{{i}} -->
    <transform source="app2norm" destination="app2xml">
        <pass>
            <modify>
                <exchange>
                    <exchange-table>
                        <string-pair>
                            <search-string>{[}*{|}\[{|}*{|}\]\{{|}*{|}\}{]} </search-string>
                            <replacement-string>{{app n="{=1=}"}} {{rep}}{=3=}{{/rep}} {{ins}}{=5=}{{/ins}}</replacement-string>
                        </string-pair>
                    </exchange-table>
                </exchange>
            </modify>
        </pass>
        <remove-blanks where="both"/>
    </transform>
</script>
